#container {
  .switcher {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    font-size: var(--font-size);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 15;
    max-width: var(--inner_width);
    overflow: hidden;
    left: 50%;
    top: 0;
    transform: translateX(-50%);

    #wrapper {
      min-width: 300px;
      background: var(--secondary_background-color);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: calc(var(--border-radius) * 1.5);
      border: 1px solid var(--border-color);
      overflow: hidden;
    }

    .head {
      display: flex;
      border-bottom: 1px solid var(--border-color);
      padding: 15px 30px;
      padding-right: 20px;
      justify-content: space-between;
      align-items: center;
      background: var(--primary_background-color);

      h4 {
        font-size: 115%;
        font-weight: 500;
      }

      button {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: var(--border-radius);
        &:hover {
          background: var(--tertiary_background-color);
        }
        span {
          font-size: 28px;
        }
      }
    }

    .body {
      padding: 30px;
      // background: var(--secondary_background-color);

      a {
        padding: 10px 20px;
        margin-bottom: 10px;
        border-radius: var(--border-radius);
        background: var(--primary_background-color);
        // background: var(--tertiary_background-color);
        display: flex;
        align-items: center;
        border: 1px solid var(--border-color);

        .wrapper {
          display: flex;
          align-items: center;

          .inner {
            display: flex;
            align-items: center;
            margin-left: 10px;
          }
        }
        .dummy {
          display: block;
          width: 10px;
        }
        .ja {
          font-size: 92.5%;
        }
        .flag {
          font-size: 130%;
          margin-left: 5px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      .active {
        position: relative;

        &::after {
          content: '';
          display: block;
          position: absolute;
          left: 17px;
          top: 50%;
          width: 10px;
          height: 10px;
          background: var(--active_color);
          border-radius: 25px;
          transform: translateY(-50%);
        }
      }
    }
  }
}
